#this is reference documenation for the .env file of the project directory
#the WORDS IN ALL CAPS and before an = sign are the Variables
#when you make a real version of this file for the project, remove the leading # before any Variables (the words in ALL CAPS to the left of =)
#when you make a real verison of this file for the project, just call it .env
#when you make a real version of this file for the project, add it to your .gitignore file before doing anything else by typing its name inside a file in the directroy where it exists called .gitignore

#this section is to help you understand what all of the variables mean/do
#PORT: the port number the Flask app will listen on
#FLASK_ENV: set to development for local development, set to production for production
#FLASK_DEBUG: if set to 1, Flask runs in a debug mode
#DOCKER_IMAGE_NAME: the name of the Docker image for the Flask app; used in Docker build commands
#DOCKER_IMAGE_TAG: the tag for the Docker image; used in Docker build commands
#KUBE_NAMESPACE: the Kubernetes namespace where the app will be deployed (not actually used)
#KUBE_CONFIG: this is not needed here; it is set in CI/CD as project-level variable but refers to the configuration of the Minikube you use to deploy to Kubernetes with
#CHANGELOG_FILE: name of the Changelog file (for automated updating)
#DOCKER_HUB_USERNAME=myusername
    #this is only for local testing and should be be in a gitignored file
    #when running CI/CD, store these as secrets in your CI/CD tool
#DOCKER_HUB_PASSWORD=mytoken
    #this is only for local testing and should be be in a gitignored file
    #when running CI/CD, store these as secrets in your CI/CD tool
#REGISTRY_PUSH_TARGET: set the registry to push to in the build job
    #options: gitlab-local, gitlab-public, github, docker
#REGISTRY_PULL_TARGET: set the registry to pull from in the deploy jobs
    #options: gitlab-local, gitlab-public, github, docker

#this section is to show you what you real .env file shoud look like
#the basic format is VARIABLE=VariableAssignment
#I am going to show you the VariableAssignment inside of <> symbols like <VariableAssignment>
#DO NOT use the <> around the VariableAssignment when making the real .env file
#DO NOT include the leading # before the variables when making the real .env file
#you can keep the # mark on lines that are NOT ALL CAPS as these comment lines for informational purposes, though it is not standard to use comments like this in a .env file
#when you make a .env file, the first thing you need is add it to your .gitignore file in the same directroy
#some of the Variable Assignments include braces like {} which means the variable uses a variable that will be automatically generated by the CI/CD tool itself
#some of the Variable Assignments include :- this tells you to use what is to the left of the : as the Variable but if it's not available to "fall back" to what is to the right of the -
#some Variable names are pre-defined by your CI/CD tool and are called pre-defined variables; you should look them up in the tool's documentation
#YOU WOULD NOT ACTUALLY TYPE/INCLUDE ANYTHING ABOVE AND INCLUDING THIS LINE IN YOUR REAL .env file (except maybe the first line)

#flask config
#PORT=<5000>
#FLASK_ENV=<development>
#FLASK_DEBUG=<1>

#docker/kubernetes config
#DOCKER_IMAGE_NAME=<${CI_PROJECT_NAME:-flask-app-template}>
#DOCKER_IMAGE_TAG=<{CI_COMMIT_REF_NAME:-latest}>
#DOCKER_IMAGE=<${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}>
#KUBE_NAMESPACE=<default>

#changelog script config
#CHANGELOG_FILE=<CHANGELOG.md>

#docker hub credentials for local testing
#DOCKER_HUB_USERNAME=<YourDockerHubUsername>
#DOCKER_HUB_PAT=<YourDockerHubPersonalAccessToken>

#registry targets
#REGISTRY_PULL_TARGET=<gitlab-local>
#REGISTRY_PUSH_TARGET=<gitlab-local>

